<h1>Manage Ingredients</h1>

<h2>Add ingredient</h2>
<form id="ingrd-form" action="addIngr" method="POST">
	Ingredient: <input type="text" name="ingredient"/>
	Price: <input type="text" name="price"/>
	<input type="submit" value="Add ingredient"/>
</form>

<h2 id='in-list'>Ingredient List</h2>
{{#each ingr}}
	<form id= "{{this.name}}" action="outStock" method="POST">
	{{this.name}} : ${{this.price}}
	<input type="submit" value="Out of Stock"/>
	<input type="submit" value="Edit"/>
	</form>
	<br/>
{{/each}}



