<h1>Manage Orders</h1>

{{#each order}}

<form id="kitch-form" action="doneOrder" method="POST">
  Customer: {{this.customer}}<br>
  Ingredients: {{this.ingredients}}<br>
  Cost: {{this.cost}}<br>
  <input type="submit" value="Order Complete">
</form>

{{/each}}