<h1>Order a burger!</h1>

<form id="order-form" action="submitOrder" method="POST">
  Name: <input type="text" name="name"/><br/>

  {{#each ingrds}}
  	{{this.name}}
  	${{this.price}}
  	<input type="checkbox" name="{{this.name}}" />
  	<br>
  {{/each}}
  
  Total Cost: $<div id="cost">0.00</div>

  <input type="submit" value="Submit Order"/>
</form>
