<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Burgers!</title>
    
  </head>
  <body>
  	<a href="/ingredients">Ingredients</a>
  	<a href="/order">Order</a>
  	<a href="/kitchen">Kitchen</a>

    {{{body}}}
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="javascripts/ingredientsJQ.js"></script>
  <script src="javascripts/kitchenJQ.js"></script>
  <script src="javascripts/orderJQ.js"></script>

</html>